
services:
  web:
    build: .
    command: >-
      sh -c "python manage.py migrate &&
      python manage.py collectstatic --noinput &&
      python manage.py import_sample_data &&
      gunicorn todo_project.wsgi:application --bind 0.0.0.0:8000"
    # volumes:
      # - /Users/didi/code/easytodo:/app
      # - media:/app/media
      # - static:/app/static
    environment:
      - DJANGO_SETTINGS_MODULE=todo_project.settings

  nginx:
    build:
      context: .
      dockerfile: nginx/Dockerfile
      ports:
        - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/energy_headers.js:/etc/nginx/energy_headers.js:ro
      - ./url_energy.json:/etc/nginx/url_energy.json:ro
      # - media:/app/media:ro
      # - static:/app/static:ro
    depends_on:
      - web
  bench:
    build:
      context: .
      dockerfile: Dockerfile.bench
    depends_on:
      - nginx
